*{
  background-color: #BBE9FD;
}

.titulo{
  color: #609EB8;
  font-size: 2em;
  font-family: Girassol;
  margin: 1em;
}

#meses{
  color: #4188B8;
  font-size: 1.2em;
  font-family: Girassol;
  margin: 3em;
}