* {
  color: #121212;
}


html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(10,0,200,.25);
}

body {
  width: 280px;
  height: 620px;
  padding: 50px 1em;
  box-sizing: border-box;
  overflow: hidden;
  position:  relative;
 
  font-family: Helvetica, Arial, sans-serif;
  
  color: #454545;
  border-radius: 40px;
  border: 10px solid currentColor;
  background-image:
    linear-gradient(
      currentColor 50px, 
      transparent 50px, 
      transparent calc(100% - 50px), 
      currentColor calc(100% - 50px), 
      currentColor
    ),
    linear-gradient(
      90deg, 
      rgba(0,0,0,.2) 2px, 
      transparent 5px, 
      transparent calc(100% - 5px), 
      rgba(0,0,0,.2) calc(100% - 2px)
    ),
     linear-gradient(
      to bottom,
      transparent, 
      transparent calc(100% - 55px), 
      rgba(0,0,0,.2) calc(100% - 52px),
      rgba(0,0,0,.2) calc(100% - 52px)
    ),
    url('https://miro.medium.com/max/4064/1*qYUvh-EtES8dtgKiBRiLsA.png');
  
  background-size: 
    100% 100%, 
    100% 100%, 
    100% 100%,
    cover;
  
  background-position: 
     0 0,
     0 0,
     0 0,
     cover;
    
   background-repeat: no-repeat;
}

input {
  border: none;
  border-bottom: 2px solid #cacaca;
  display: block;
  width: calc(100% + 2rem);
  height: 2.5em;
  line-height: 2.5em;
  position: relative;
  left: -1rem;
  z-index: 1;

  padding-left: 4.5em;
  
  font-size: 15px;
  font-weight: lighter;
  
  box-sizing: border-box;
}

input:last-of-type {
  border-bottom: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    
  margin-bottom: 1em;
}

label {
  display: block;
  height: 0;
  
  position: relative;
  z-index: 999;
  
  font-size: .6em;
  text-transform: uppercase;
  line-height: calc(2.5em / .6);

}

button {
  width: 100%;
  padding: 1.5em 0;
  position: absolute;
  bottom: 50px;
  left: 0;
  
  cursor: pointer;
  
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  
  border: none;
  
  transition: .2s ease;
  color: #fff;
  background-color: #0059EB;
  box-shadow: 0 -2px 10px 2px rgba(0,0,0,.25);
}

button:hover {
/*   background-image: linear-gradient(
    rgba(255,255,255,.25),
    rgba(255,255,255,.25)
  ) */
  background-color: #4082f0;
}

button:active {
  background-color: #3072e0;
  font-size: .98em;
  transition: .1s easeout;
}

p {
  background: #FFF;
  padding: 1em 2em;
  height: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 12px 2px rgba(0,0,0,.25);
}
