:root{
    --bg: #1E4E59;
    --title: #618C8C;
    --paragraph: #BFD9D6;
    --box: #2D7352;
    --box1: #72A68E;

}

body{
    font-family: 'Courier New', Courier, monospace;
    background: var(--bg);  
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: var(--paragraph);
}

p{
    color: var(--paragraph);
}

#area{
    margin-top: 5em;
    background: var(--box);
    color: var(--paragraph);
    width: 14em;
    height: 7em;
    border-radius: 1em;
    
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    text-align: center;

}